.order-summary{
    margin-left: 5px;
    padding: 12px;
    background-color: rgba(255, 166, 0, 0.37);
}
.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
@media  screen and (max-width:576px) {
    .shop-container{
        grid-template-columns: 1fr;
    }
}